.heading--card{
    padding: 0 0 32px 0 !important;
    border-radius: 8px 0 8px 8px !important;
    box-shadow: 0px 4px 8px rgba(73, 80, 87, 0.25);
    background-color: $ternary-color;
    overflow: hidden;
}

.icon--card-logo{
    color: $icon-color !important;
    font-size: 100px !important;
    display: flex !important;
    margin-top: -30px !important;
    margin-left: 80%;
}

@media screen and (max-width: 900px) {
    .icon--card-logo {
      padding-left: 100%;
      margin-top: -15px !important;
      font-size: 100px !important;
    }
}

@media screen and (max-width: 1080px) {
    .icon--card-logo {
      padding-left: 75%;
      margin-top: -30px !important;
      font-size: 100px !important;
    }
}

.heading--card:hover{
    background-color: $border-color !important;
    .title-text--line1 {
        color: $ternary-color;
    }
    .title-text--line2 {
        color: $ternary-color;
    }
    .expand-text {
        color: $ternary-color;
    }
    .expand-forward--icon {
        color: $ternary-color !important;
    }
    .icon--card-logo{
        color: $ternary-color !important; 
    }
}

.header--content-components{
    align-items: center;
}

.branch--container{
    background-color: $LAN-color;
    color: $ternary-color;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 8px;
    gap: 8px;
    border: 1px solid $LAN-color;
    border-radius: 50px;
    cursor: pointer !important;
}

.branch--container:hover{
    background-color: $LAN-hover-color;
    border: 1px solid $LAN-hover-color;
}

.notification--content{
    color: $primary-color !important;
    font-size: 48px !important;
}

.notification--content:hover{
    background-color: #e9e9e9;
    border-radius: 100px;
}

.notification-avatar--content{
    display: flex;
    align-items: center;
}

.branch--icon{
    display: flex;
}

.header--space-between{
    justify-content: space-between;
    width: 96%;
}