.drawer--left {
    background-color: $border-color !important;
    width: 50%;
    margin: 0;
    z-index: 999;
}

.drawer-left--icon{
    color: #323232 !important;
    padding-top: 10px;
}

// .drawer--right {
//     background-color: $ternary-color;
//     width: 10%;
//     margin: 0;
//     z-index: 999;
// }

.drawer--left-blue{
    background-color: $border-color !important;
    color: $ternary-color !important;
}

.icon-drawer{
    color: $ternary-color !important;
}

.hamburger-menu--drawer{
    color: $primary-color !important;
}