.footer-container {
    background-color: $ternary-color !important;
    color: $footer-color !important;
}

.footer-ttpography{
    font-size: $font-x-small !important;
    padding-top: 12px !important;
    padding-left: 470px !important;
}