.header-container {
    padding: $padding-normal;
    background-color: $ternary-color;
    color: $footer-color;
    width: 95.5%;
    top: 0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25) !important;
}

.dashboard-header--container{
    padding: 48px;
}

.header--white{
    background-color: $ternary-color !important;
}

.header-typography{
    padding-top: 5% !important;
    justify-content: space-between;
    display: flex !important;
    align-items: center;
}

.header-typography--search{
    background-color: $ternary-color !important;
    border: 1px solid $bordermargin-color !important;
    // box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.25) !important;
    border-radius: 50px !important;
    align-items: end !important;
    width: 300px;
}

.typography-Control{
    font-size: 40px!important;
}

.typography-Center{
    font-size: 40px!important;
}

.typography-Dashboard{
    font-size: 40px!important;
}

.name-typography{
    display: flex !important;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    // font-size: 100px;
    line-height: 47px;
    color: #272525;
    // letter-spacing: -0.02em;
}

.search-grey--container{
    padding: 0 4px !important;
}

.typography-Center-Dashboard{
    color: $footer-color !important;
}

.search-criteria{
    // padding-right: 110%;
    padding-left: 0 !important;
    display: flex;
    justify-content: flex-end;
}

.search-container--placeholder{
    padding-right: 55%;
    font-weight: 400;
    color: $footer-color;
}

.search--criteria-placeholder{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    padding-left: 0px;
}

.search-icon--container{
    background-color: $bordermargin-color !important;
    border: 1px solid $bordermargin-color;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding: 3px;
    color: $primary-color !important;
    display: flex !important;
    align-items: center !important;
}

.search--criteria-icon{
    display: flex !important;
    align-items: center !important;
}

.input--searchbar{
    padding-left: 15% !important;
}
