.grid--container-grey {
    background-color: $back-color;
    padding: 42px 42px 102px 42px !important;
}

.grid--container-white {
    background-color: $back-color;
	padding: 42px !important;
    width: 100%;
}

.middle-grid--structure{
    background-color: $back-color;
}

.dashboard-header--container{
    background-color: $ternary-color;
}

.side--borders{
    padding: 0 !important;
}